{% extends 'applicantBase.html' %}
{% load static %}
{% block newcontent %}
<style>
    html, body {
        min-height: 100%;
    }
    body, div, form, input, select, p { 
        padding: 0;
        margin: 0;
        outline: none;
        font-family: Roboto, Arial, sans-serif;
        font-size: 14px;
        color: #666;
    }
    h1 {
        margin: 0;
        font-weight: 400;
    }
    h3 {
        margin: 12px 0;
        color: #8ebf42;
    }
    .main-block {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        width: 70%;
        left: 15%;
        text-align: center;
    }
    form {
        width: 100%;
        padding: 0px;
    }
    fieldset {
        border: none;
        border-top: 1px solid #8ebf42;
    }
    .account-details, .personal-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .account-details >div, .personal-details >div >div {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .account-details >div, .personal-details >div, input, label {
        width: 100%;
    }
    label {
        padding: 0 5px;
        text-align: right;
        vertical-align: middle;
    }
    input {
        padding: 8px;
        vertical-align: middle;
        margin: 3px;
    }
    .checkbox {
        margin-bottom: 10px;
    }
    select, .children, .gender, .bdate-block {
        width: calc(100% + 26px);
        padding: 5px 0;
    }
    select {
        background: transparent;
    }
    .gender input {
        width: auto;
    } 
    .gender label {
        padding: 0 5px 0 0;
    } 
    .bdate-block {
        display: flex;
        justify-content: space-between;
    }
    .birthdate select.day {
        width: 35px;
    }
    .birthdate select.mounth {
        width: calc(100% - 94px);
    }
    .birthdate input {
        width: 38px;
        vertical-align: unset;
    }
    .checkbox input, .children input {
        width: auto;
        margin: -2px 10px 0 0;
    }
    .checkbox a {
        color: #8ebf42;
    }
    .checkbox a:hover {
        color: #82b534;
    }
    button {
        width: 30%;
        padding: 10px 0;
        margin: 10px auto;
        border-radius: 5px; 
        border: none;
        background: rgb(20, 20, 20); 
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        margin-top: 15px;
    }
    button:hover {
        background: rgb(0, 0, 0);
        cursor: pointer;
    }
    @media (min-width: 568px) {
        .account-details >div, .personal-details >div {
            width: 50%;
        }
        label {
            width: 40%;
        }
        input {
            width: 60%;
        }
        select, .children, .gender, .bdate-block {
            width: calc(60% + 16px);
        }
    }
</style>
    <div class="main-block">
        <form action="/">
            <h1 style='margin-top: 20px; color: rgb(20,20,20);'>Create a Company Account</h1>
            <div>
                <label></label><input type="text" name="company_name" placeholder='Company Name*' required>
                <label></label><input type="text" name="company_email" placeholder='Company Email*' required>
                <label></label><input type="text" name="company_phone" placeholder='Company Phone Number*' required> 
                <label></label><input type="text" name="company_streetadd" placeholder='Street Address*' required>
                <label></label><input type="text" name="company_city" placeholder='City' required>
                <label></label><input type="text" name="company_zip" placeholder='Zip/Postal Code' required>
            </div>
            <fieldset class="group"> 
<legend>Soft Skills</legend> 
<ul class="checkbox"> 
  <li><input type="checkbox" id="cb1" value="x" /><label for="cb1">x</label></li> 
  <li><input type="checkbox" id="cb2" value="x" /><label for="cb2">x</label></li> 
  <li><input type="checkbox" id="cb3" value="x" /><label for="cb3">x</label></li> 
  <li><input type="checkbox" id="cb4" value="x" /><label for="cb4">x</label></li> 
  <li><input type="checkbox" id="cb5" value="x" /><label for="cb5">x</label></li> 
  <li><input type="checkbox" id="cb6" value="x" /><label for="cb6>">x</label></li>  
  <li><input type="checkbox" id="cb7" value="x" /><label for="cb7>">x</label></li> 
    <li><input type="checkbox" id="cb8" value="x" /><label for="cb8>">x</label></li> 
     <li><input type="checkbox" id="cb9" value="x" /><label for="cb9>">x</label></li> 
    <li><input type="checkbox" id="cb10" value="x" /><label for="cb10>">x</label></li> 
</ul> 
<legend>Hard Skills</legend>
<ul class="checkbox"> 
  <li><input type="checkbox" id="cb11" value="x" /><label for="cb11">x</label></li> 
  <li><input type="checkbox" id="cb12" value="x" /><label for="cb12">x</label></li> 
  <li><input type="checkbox" id="cb13" value="x" /><label for="cb13">x</label></li> 
  <li><input type="checkbox" id="cb14" value="x" /><label for="cb14">x</label></li> 
  <li><input type="checkbox" id="cb15" value="x" /><label for="cb15">x</label></li> 
  <li><input type="checkbox" id="cb16" value="x" /><label for="cb16>">x</label></li> 
    <li><input type="checkbox" id="cb17" value="x" /><label for="cb17>">x</label></li> 
    <li><input type="checkbox" id="cb18" value="x" /><label for="cb18>">x</label></li> 
    <li><input type="checkbox" id="cb19" value="x" /><label for="cb19>">x</label></li> 
    <li><input type="checkbox" id="cb20" value="x" /><label for="cb20>">x</label></li>  
            
</ul> 
</fieldset> 
            <button type="submit" href="/">Submit</button>
        </form>
    </div>
{% endblock %}