{% extends 'organizationBase.html' %}
{% block newcontent %}
<style>
    .formbox {
        position: absolute;
        height: 60%;
        width: 50%;
        left: 25%;
        top: 25%;
        border: 1px solid rgb(20,20,20);
        border_radius: 10px;
        box-shadow: 0 0 10px 0 rgb(20,20,20);
        padding: 40px 0 0 0px;
        text-align: right;
    }
    
    .dbutton {
        position: absolute;
        background-color: rgb(34,139,34);
        color: whitesmoke;
        border: 1px solid black;
        box-shadow: 0 2px 2px 0 rgb(100,100,100);
        border-radius: 10px;
        width: 20%;
        height: 10%;
        font-weight: bold;
        right: 40%;
        bottom: 10%;
    }
    .dbutton:hover {
        cursor: pointer;

    }
</style>
<form class='formbox' name='form_update_applicant' method='POST' action="{% url 'alter_organization' %}">
    {% csrf_token %}
    <label for='company_name' style='margin-right: 6%;'>Enter the organization's name:</label>
    <input type="text" name='company_name' id='company_name' style='margin-right: 14%;'>
    <br><br>
    <label for='company_email' style='margin-right: 6%;'>Enter the organization's email:</label>
    <input type="text" name="company_email" id='company_email' style='margin-right: 14%;'>
    <br><br>
    <label for='new_company_name' style='margin-right: 6%;'>Enter the new name:</label>
    <input type="text" name='new_company_name' id='new_company_name' style='margin-right: 14%;'>
    <br><br>
    <label for='new_company_email' style='margin-right: 6%;'>Enter the new email:</label>
    <input type="text" name='new_company_email' id='new_company_email' style='margin-right: 14%;'> 
    <br><br>
    <button type="submit" class='dbutton'>Update</button>
</form> 
{% endblock %}